version: "3.9"


services:
  realword-app:
    build: .
    command: >
      sh -c "
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db 

  db:
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432 
    volumes:
      - db-data:/var/lib/postgresql/data 
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=0000
      - POSTGRES_DB=postgres

volumes:
  db-data: